.Me {
    .top{
        height: 50px;
        line-height: 50px;
        font-size: 20px;
        position: relative;
        text-align: center;

        .top_icon{
            display: inline-block;
            width: 13px;
            height: 13px;
            border-bottom: 1px solid #888;
            border-left: 1px solid #888;
            transform: rotate(45deg) translateY(-50%);
            position: absolute;
            left: 25px;
            top: 50%;
        }

        .top_button{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-45%);
            font-size: 12px;
            color: #999;
        }

    }

    .kong{
        height: 35px;
        width: 100%;
        background: #eee;
    }

    .weui-cells::before{
        display: none;
    }
}
